@media (max-width: 800px) {

    body {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .large-screen-nav {
        display: none;
    }

    .small-screen-nav {
        display: flex !important;
        padding: 15px 20px;
    }

    .nav-items {
        width: 50%;
    }

    .edit-profile-nav {
        display: none;
    }

    .edit-name{
        gap: 20px;
    }

    .edit-name label{
        width: 100%;
        flex-direction: row;
    }

    .settings-nav{
        right: -50%;
        position: absolute;
        z-index: 5;
        width: 50%;
        transition: 0.3s;
        border: 1px #cbcbcb solid;
    }

    .settings-nav .logout-btn {
        margin-top: 20px !important;
    }

    .settings-nav-open{
        right: 20px !important;
    }

    .settings-mobile-header {
        display: block;
    }

    .logo {
        max-width: 180px;
    }

    .row-right>.search {
        width: 100%;
    }

    .right-section {
        margin-bottom: 0px;
    }

    .notifications p {
        width: fit-content;

    }

    .notifications strong {
        display: block;
    }

    .notification-dashboard {
        z-index: 21;
        display: none;
        position: absolute;
        right: 10px;
        top: 60px;
        height: fit-content;
        width: 50%;
        border: 1px solid #ececec;
    }

    .notification-filter-display {
        display: block !important;
    }

    .notification-dashboard h2 {
        display: none;
    }

    .background-overlay {
        display: none;
        height: 100vh;
        width: 100vw;
        left: 0px;
        top: 0px;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.1);
        z-index: 20;
    }

    .body-scroll {
        overflow: hidden;
    }

    .notification-container {
        font-size: 12px;
        padding: 10px;
    }

    .mt {
        margin-top: 0px;
    }

    .notification-icons {
        width: 8px;
        height: 8px;
    }

    .notification-img {
        width: 20px;
        height: 20px;
    }

    .buttons {
        padding: 10px !important;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start !important;
        justify-content: flex-end;
    }

    .upload-container {
        padding: 20px;
    }

    .sort {
        display: none;
    }

    .primary-btn {
        font-size: 16px;
    }

    .secondary-btn {
        font-size: 16px;
    }

    .tertiary-btn {
        font-size: 16px;
    }

    .filter-smaller-screens {
        display: flex !important;
    }

    .filter {
        display: flex;
        position: fixed;
        z-index: 25;
        width: 50%;
        left: -100%;
        top: 0px;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        border-radius: 0px;
        padding-bottom: 50px;
        transition: 0.3s;
    }

    .content-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .right-section {
        width: 100%;
    }

    .content {
        padding: 15px;
        margin-bottom: 10px;
    }

    .auth label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

    .auth-btn{
        width: 80%;
    }

    .password-req {
        gap: 20px;
    }

    .edit-section{
        width: 100%;
    }

    .prifile-content{
        flex-direction: column;
    }

    .profile-info{
        padding: 100px 40px 40px 40px;
        width: 100%;
    }

    .profile-content{
        width: 100%;
    }

    .project-desc-form label {
        flex-direction: column;
        align-items: flex-start;
        width: 70% !important;
        /* border: black solid 1px; */
    }

    label .input {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    }

    .filter-icon-notification {
        display: block;
    }

}

@media(min-width: 1201px) {
    .nav-items {
        display: none;
    }
}