@media (max-width: 450px) {

    body{
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .large-screen-nav{
        display: none;
    }

    .small-screen-nav{
        display: flex !important;
        padding: 15px 20px;
    }

    .nav-items{
        width: 70% !important;
    }

    .edit-profile-nav{
        display: none;
    }

    .logo{
        max-width: 180px;
    }

    .row-right>.search {
        width: 100%;
    }

    .right-section{
        margin-bottom: 0px;
    }

    .notifications p{
        width: fit-content;
        
    }

    .notifications strong{
        display: block;
    }

    .notification-dashboard{
        z-index: 21;
        display: none;
        position: absolute;
        right: 10px;
        top: 60px;
        height: fit-content;
        width: 50%;
        border: 1px solid #ececec;
    }

    .notification-filter-display{
        display: block !important;
    }

    .notification-dashboard h2{
        display: none;
    }

    .background-overlay{
        display: none;
        height: 100vh;
        width: 100vw;
        left: 0px;
        top: 0px;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.1);
        z-index: 20;
    }

    .body-scroll{
        overflow: hidden;
    }

    .notification-container{
        font-size: 12px;
        padding: 10px;
    }

    .mt{
        margin-top: 0px;
    }

    .notification-icons{
        width: 8px;
        height: 8px;
    }

    .notification-img{
        width: 20px;
        height: 20px;
    }

    .buttons{
        padding: 10px !important;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start !important;
        justify-content: flex-end;
    }
    
    .buttons-sub{
        flex-direction: column-reverse;
        align-items: flex-end !important;
    }

    .upload-container{
        padding: 20px;
    }

    .sort{
        display: none;
    }

    .primary-btn{
        font-size: 16px;
    }

    .secondary-btn{
        font-size: 16px;
    }

    .tertiary-btn{
        font-size: 16px;
    }

    .filter-smaller-screens{
        display: flex !important;
    }

    .filter{
        display: flex;
        position: fixed;
        z-index: 25;
        width: 80% !important;
        left: -100%;
        top: 0px;
        height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        border-radius: 0px;
        padding-left: 40px !important;
        padding-bottom: 0px !important;
        transition: 0.3s;
    }

    .content-grid{
        grid-template-columns: 1fr !important;
    }

    .right-section{
        width: 100%;
    }

    .content{
        padding: 15px;
        margin-bottom: 10px;
    }

    .auth {
        margin-bottom: 80px;
    }

    .auth label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

    .auth-btn {
        width: 80%;
    }

    .password-req {
        flex-wrap: wrap;
    }

    .project-desc-form label {
        flex-direction: column;
        align-items: flex-start;
        width: 90% !important;
        /* border: black solid 1px; */
    }

    label .input {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
    }

    .settings-nav {
        height: 80vh;
        gap: 10px;
        right: -70% !important;
        width: 70% !important;
    }

    .settings-nav .logout-btn{
        margin-top: 0px !important;
    }

    .filter-icon-notification {
        display: block;
    }
}

@media(min-width: 1201px){
    .nav-items{
        display: none;
    }
}