* {
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    color: #1a1a1a;
}

body {
    background: #FAFAFA;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 24px 32px;
    margin-bottom: 16px;
}

.small-screen-nav{
    display: none;
}

.logo {
    max-width: 220px;
}

.explore {
    font-size: 19px;
    font-weight: 600;
    padding: 10px 14px;
    text-decoration: none;
}

.explore:hover {
    border-bottom: #006647 2px solid;
    color: #006647;
}

a{
    text-decoration: none;
}

input[type="search"] {
    font-weight: 500;
    color: #1A1A1A;
    border: 1px #e6e6e6 solid;
    border-radius: 100px;
    padding: 15px 35px;
    background: url("../Assets/icons/fi-rr-search.png") no-repeat;
    background-size: 16px;
    background-position: 10px;
}

.primary-btn{
    cursor: pointer;
    width: fit-content;
    font-size: 19px;
    font-weight: 700;
    color: #fafafa;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #006647;
    transition: 0.2s;
}

.inactive-btn{
    width: fit-content;
    font-size: 19px;
    font-weight: 700;
    color: #cbcbcb;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #5f5f5f;
}

.primary-btn:hover{
    background-color: #053f2e;
}

.secondary-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    width: fit-content;
    font-size: 19px;
    font-weight: 700;
    color: #006647;
    border: 2px solid #006647;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #fafafa;
    transition: 0.2s;
}

.secondary-btn:hover{
    background-color: #006647;
    color: white;
}

.mouseenter-sec-btn{
    background-color: #006647;
    color: white;
}

.tertiary-btn{
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    font-size: 19px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    transition: 0.2s;
}

.share-active{
    color: #fafafa;
    border: 2px solid #006647;
    background-color: #006647;
    transition: 0.2s;
}

.profile {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile-picture{
    background: url("../Assets/images/profile-image.jpg") no-repeat;
    background-size: cover;
}

.profile-picture-nav {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
}

.dropdown-arrow {
    background: url("../Assets/icons/dropdown-arrow.png") no-repeat;
    background-size: cover;
    height: 7px;
    width: 14px;
}

.content{
    display: flex;
    position: relative;
    gap: 24px;
    justify-content: space-between;
    padding: 0px 32px;
    margin-bottom: 40px;
}
.filter-smaller-screens{
    display: none !important;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    border: #E6E6E6 solid 1px;
}

.filter-section {

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter-section-closed {
    display: none;
    flex-direction: column;
    gap: 16px;
}

.filter {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 16px;
    height: fit-content;
    width: 30%;
    background: white;
    border-radius: 10px;
    padding: 16px 20px 32px 24px;
    
}

.filter-closed {
    padding: 0px;
    width: 24.2%;
    
}

.filter-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    
}

.filter-head-closed {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    
}

.header-filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}

.close-filter-btn {
    cursor: pointer;
    
}

.checkbox {
    list-style: none;
    margin-bottom: 8px;
}

#checkbox {
    cursor: pointer;
}

.filter-options>li {
    list-style: url("./Assets/icons/Ellipse\8.png");
}

.custom-checkbox {
    width: 12px;
    height: 12px;
    border: 2px solid #808080;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.check-fill {
    display: none;
    width: inherit;
    height: inherit;
    background-color: #006647;
}

.check-fill-block {
    display: block;
}

.check-border-green {
    border-color: #006647;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.filter-options li {
    font-weight: 500;
}

.row-right>.search {
    background-color: white;
    width: 80%;
    border-radius: 10px;
}

.first-row {
    display: flex;
    max-height: 64px;
    width: 100%;
    gap: 16px;
}

.first-row-filter-closed{
    width: 72.5%;
    align-self: flex-end;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    border-radius: 10px;
    width: 15%;
    background-color: white;
}

.filter-padding {
    padding: 15px 35px;
}

.content-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.content-grid-closed-filter{
    grid-template-columns: repeat(4, 1fr);
}

.square{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    gap: 16px;
}

.img{
    width: inherit;
    aspect-ratio: 1 / 0.7;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

.right-section{
    margin-bottom: 42px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 70%;
    
}

.right-section-filter-closed{
    width: 100%;
    align-items: end;
    
}

.tags{
    display: flex;
    gap: 8px;
}

.tag-size{
    font-size: 13px;
}

.design{
    color: #1F5CAD;
    background-color: #E9F1FB;
}

.beginner{
    color: #00996B;
    background-color: #E5FFF7;
}

.tutorial{
    color: #6933FF;
    background-color: #ECE5FF;
}

.tag-padding{
    padding: 4px 10px;
    border-radius: 100px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: 600;
    color: #808080;
}

.second-row{
    position: relative;
    width: 100%;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 5px 0px;
}

.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.carousel-arrow{
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    position: absolute;
    z-index: 10;
}

.left{
    left: 0px;
    background: linear-gradient(to left, transparent, rgb(255, 255, 255, 0.4));
    backdrop-filter: blur(5px);
}

.right{
    right: 0px;
    background: linear-gradient(to right, transparent, rgb(255, 255, 255, 0.4));
    backdrop-filter: blur(5px);
}

.carousel {
    position: relative;
    align-items: center;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    transition: 0.5s;
}

.item {
    cursor: pointer;
    width: fit-content;
    gap: 4px;
    padding: 12px 20px;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #808080;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    scroll-behavior: smooth;
    transition: 0.3s;
}

.item:not(.active):hover{
    background-color: #E5FFF7;
    color: #006647;
    border: #006647 2px solid;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.active{
    background-color: #006647;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3) ;
}

.notification-bubble{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -4px;
    height: 14px;
    width: 14px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    background-color: red;
    border-radius: 50%;
}

.edit-profile-nav{
    background: transparent;
    border-bottom: #E6E6E6 1px solid
}

.edit-profile-nav .search{
    color: #1A1A1A;
    font-weight: 500;
    border: 1px #E6E6E6 solid;
    background: url("../Assets/icons/fi-rr-search.png") 10px center / 16px 16px no-repeat, linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(153, 153, 153, 0.3));
}

.wallpaper{
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.2)), url("../Assets/images/wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.picture-container{
    width: 140px;
    height: 140px;
    border: #528FE0 2px solid;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    align-self: center;
}

.detail-frame{
    position: relative;
    height: auto;
    border-radius: 10px;
    background: white;
    width: fit-content;
    max-width: 326px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 50px;
}

.profile-analytics{
    border-top: 2px solid #E6E6E6;
    padding: 20px 0px;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

}

.section{
    font-weight: 700;
    font-size: 23px;
    color: #808080;
}

.profile-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #528FE0 2px solid;
    margin-top: 10px;
}

.edit-name{
    display: flex;
    gap: 20px;
}

label>.input{
    border: #CCCCCC 2px solid;
    width: 330px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    color: #808080;
    border-radius: 10px;
}

.text-inputs{
    width: fit-content;
}

.about textarea{
    padding: 5px 10px 5px 5px;
    height: 80px;
    width: 97.7%;
}

.w{
    width: 95% !important;
}

.ml{
    margin-left: 40px;
}

.mr{
    margin-right: 40px;
}

.mt{
    margin-top: 40px;
}

.mb{
    margin-bottom: 40px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.notification-content{
    width: 100%;
}

.notifications{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

.notification-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../Assets/images/profile-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.notification-container{
    display: flex;
    gap: 40px;
    flex-direction: column;
    background-color: white;
    min-height: 90vh;
    padding: 40px;
}

.notifications-parent{
    padding-top: 20px;
}

.notification-icons{
    width: 15px;
    height: 15px;
}

.bookmark{
    
    background-image: url("../Assets/icons/heart.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.message{
    background-image: url("../Assets/icons/directbox-default.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.comment{
    background-image: url("../Assets/icons/Ellipse-26.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.notification-dashboard{
    width: 20%;
    background-color: white;
    height: 1000px;
    padding: 20px;
}

.selected{
    color: #006647;
}

.fw-500{
    font-weight: 500;
}

.nav-items{
    width: 80%;
    height: 100vh;
    top: 0px;
    left: -100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 100;
    transition: 0.3s;
}

.nav-items .share{
    font-size: 12px;
    gap: 8px;
}

.nav-items a{
    font-size: 18px;
    font-weight: 700;
}

.nav-items .profile h2{
    font-size: 20px;
}

.nav-items .profile p{
    font-size: 14px;
}

.nav-items .profile-picture-nav{
    width: 40px;
}
